# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# Firebase configuration
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDZFla0pPqOE8o_4O3i3wgEQb1wJNEzxZU"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="gen-lang-client-0954052633.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="gen-lang-client-0954052633"
NEXT_PUBLIC_FIREBASE_APP_ID="1:231731888830:web:d52fcafe58d62316b994ef"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="gen-lang-client-0954052633.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="231731888830"
